
#f5logo1{
    height: 50px;
    /* width: 50px; */
}

.widget-container1{
    align-content: center;
    padding: 30px;
}

.widget-row1 {
    text-align: center;
    
}

.widget-col1 {
   align-content: center;
}

.widget-inner-container1 {
    align-content: center;
    max-width: 440px !important;
}

.fas, .far, .fab{
    font-size: 80px;
    /* font-weight: normal; */
    margin: 30px;
    color: purple
}

.icon-anchor1 {
    color: inherit;
    text-decoration: none;
    
}

.icon-anchor1:hover{
    color: dimgray; 
}

#landing-image-container1{
padding: 0;
height: 300px;
}

#image-landing1 {
    width: 100%;
    height: 100%;
    
}

#landing-image-container1{
    position: relative;
}


.text-block1 {
    position: absolute;
    font-size: 70px;
    top: 40%;
    bottom: 40%;
    left: 39%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .fa-info-circle1{
      font-size: 18px;
      display: inline;
      margin: 5px;
      color: black;
  }

  #popover-div1{
    border: solid grey 1px;
    padding: 10px;
    background: white;
    font-size: 20px;
  }